@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@100&display=swap');

:root {
    --blue: #180C88;
    --pink: #EB1B74;
    --light-pink: #e8d4;
    --bg-light: #F8F8F8;
    --yellow: #fcb900;
}

@font-face {
    font-family: "Circular Std", Sans-serif;
    src: url('/pp clone/assets/font/circular-std-medium-500.ttf')
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Circular Std", Sans-serif;
}

.d-none {
    display: none;
}

a {
    color: var(--blue);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section,
footer {
    padding: 80px 0px;
}
.bg-light {
    background-color: var(--bg-light);
}